nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    border-bottom: solid grey 0.1rem;
    background-color: white;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-top: 1rem;
}

.item1 {
    background-color: white;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    text-align: left;
    padding: 1rem;
}

.blog {
    background-color: white;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    padding: 1rem;
}

.login {
    background-color: white;
    grid-column: 2 / span 3;
    grid-row: 4;
    padding: 1rem;
}

.post {
    grid-column: 2 / span 3;
    grid-row: 5;
}


.contact-grid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.contact1 {
    grid-column: 1;
    grid-row: 2;
}

.c1img {
    grid-column: 1;
    grid-row: 1;
}

.contact2 {
    grid-column: 1;
    grid-row: 4;
}

.c2img {
    grid-column: 1;
    grid-row: 3;
}

.contact3 {
    grid-column: 1;
    grid-row: 6;
}

.c3img {
    grid-column: 1;
    grid-row: 5;
}


section {
    display: flex;
    flex-direction: column;
}

#contact {
    flex-direction: column;
}
